<div class="container">
    <div class="mr-auto col-8">
      <form method="POST" action="/auth/signup">
        <div>
          <label>First Name</label>
          <input name="firstname" type="text" />
        </div>
        <div>
          <label>phone number </label>
          <input name="phonenumber" type="text" />
        </div>
        <div>
          <label>adrees</label>
          <input name="houseNumber" />
          <input name="street" />
          <input name="city" />
          <input name="district" />

        </div>
        <div>
          <label>Password</label>
          <input name="password" type="password" />
        </div>
        <div>
            <label>age</label>
            <input name="age" type="number" />
        </div>
        <div>
          <button class="btn btn-auth" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>