<h1>Create new items</h1>
<a href="/items">items</a>
<form action="/items/create" method="POST">
    <div>
        <label for="">items Name:</label>
        <input type="text" name="item">
    </div>
    <div>
        <label for="">quantity:</label>
        <input type="number" name="quantity">
    </div>
    <div>
        <label for="">delivery date:</label>
        <input type="date" name="deliveryDate">
    </div>
    <button type="submit">Submit</button>
</form>