<h1>item Page</h1>

<<<<<<< HEAD
=======

>>>>>>> 4adec1451671f5b97ef69d7fa20f500d94608e2f
<div>
    <% item.forEach( item => { %>
        <div>
            <p>item Name: <%= item.name %></p>
<<<<<<< HEAD
=======
            <form action="items<%=item"></form>
>>>>>>> 4adec1451671f5b97ef69d7fa20f500d94608e2f
        </div>
    <% }) %>
</div>